wheel
dnspython>=1.14.0
requests>=2.32.5
ppdeep>=20200505
tld>=0.9.1
certifi>=2020.06.20
scikit-image>=0.17.0
netaddr
lxml
playwright>=1.40.0
matplotlib
opencv-python-headless
numpy
python-nmap
argparse
dnstwist==20201228
progress
reconDNS>=0.0.3
